<%- include("templates/header") %>
    <!-- main -->
    <div class="section">
        <div class=" row container">
            <div class="col s12 m6 l6">
                <h2 class=" header uppercase">¿quienes somos?</h2>
                <p class="light">
                    BUSA nacé del gusto por la moda y la creatividad, de crear prendas que identifique a nuetras clientes
                </p>
            </div>
            <div class="col s12 m6 l6">
                <div class="row center-align">
                    <div class="col s12 m12 l12 ">
                        <div class="video-container">
                            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFundetecYopal%2Fvideos%2F144249724253827%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>