<%- include("templates/header") %>
    <div class="center-align">
        <div class="row">
            <div class="col s12 l12 m12">
                <h3 class="uppercase">registra un nuevo porducto</h3>
            </div>
        </div>
    </div>

    <div class="center-align">
        <div class="section">
            <div class="row">
                <%- include("templates/form_product",{page:"registrerClothe"}) %>
                    <div class="col s12 m6 l9">
                        <div class="contianer white">
                            <%- include("templates/table") %>
                        </div>
                    </div>
            </div>
        </div>
<%- include("templates/footer") %>