<%- include("templates/header") %>
    <div class="container">
        <div class="section">
            <div class="row center-align">
                <div class="col s12 l12 center-align">
                    <div class="col s12 m6 l5 offset-l4 offset-m3 white">
                        <form class="container">
                            <img src="assets/imgs/logo.jpeg" class="responsive-img" alt="">
                            <h4>Iniciar Sesion</h4>
                            <div class="input-field col s12 section">
                                <label for="user">Nombre de Usuario</label>
                                <input type="text" id="user" name="user">
                            </div>
                            <div class="input-field col s12 section">
                                <label for="pass">Contraseña</label>
                                <input type="text" id="pass" name="password">
                            </div>
                            <div class="input-field col s12 section">
                                <button class="col s12 btn">Iniciar Sesion</button>
                            </div>
                            <div class="section">
                                <a href="/registrer" class="red-text">No tienes cuenta?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>