<footer class="page-footer">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m6 l3 center-align">
                        <h6 class="white-text uppercase">acerca de nosotros</h6>
                        <ul>
                            <li><a class="white-text" href="/about">Quienes Somos</a></li>
                            <li><a class="white-text" href="#">Mision y Vision</a></li>
                            <li><a class="white-text" href="">Localizador de Tiendas</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m6 l3 center-align">
                        <h6 class="white-text uppercase">Politicas</h6>
                        <ul>
                            <li><a class="white-text" href="#">Terminos y condiciones</a></li>
                            <li><a class="white-text" href="#">Cambios y devoluciones</a></li>
                            <li><a class="white-text" href="#">Politica de datos</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m6 l3 center-align">
                        <h6 class="white-text uppercase">atencion al cliente</h6>
                        <ul>
                            <li><a class="white-text" href="#">Ayuda</a></li>
                            <li><a class="white-text" href="/support">Peticiones quejas y/o reclamos</a></li>
                            <li><a class="white-text" href="#">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m6 l3 right-align">
                        <h6 class="white-text uppercase">medios de pago</h6>
                        <ul>
                            <li>
                                <img src="https://newsroom.mastercard.com/latin-america/files/2016/07/Linkedin_MC.jpg" style="width:40px; margin-right:5px;" class="resopnsive-img" alt="">
                                <img src="https://www.daviplata.sv/wp-content/uploads/2021/02/logo-nuevo-02.png" style="width:40px; margin-right:5px;" class="resopnsive-img" >
                                <img src="https://pbs.twimg.com/profile_images/872639434201681920/bhJs7rhP_400x400.jpg" style="width:40px; margin-right:5px;" class="resopnsive-img" >
                            </li>
                            <li><h6 class="white-text center-align uppercase">Siguenos:</h6></li>
                            <li>
                                <a target="_blank" href="https://www.tiktok.com/@busatelier?lang=en" class="white-text"><i class='bx bxl-tiktok bx-md' ></i></a>
                                <a target="_blank" href="https://www.facebook.com/busatiendafemenina" class="white-text"><i class='bx bxl-facebook-circle bx-md' ></i></a>
                                <a target="_blank" href="https://www.instagram.com/busa_atelier/" class="white-text"><i class='bx bxl-instagram bx-md' ></i></a>
                                <a target="_blank" href="https://api.whatsapp.com/send/?phone=573052373487&text&app_absent=0" class="white-text"><i class='bx bxl-whatsapp bx-md' ></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © COPYRIGHT-BUSA
                <img src="./assets/imgs/logo.jpeg" class="responsive-img right" style="height: 30px;" alt="">
            </div>

        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./JavaScript/materialize.min.js"></script>
    <script src="./JavaScript/index.js"></script>
</body>

</html>