<div class="col s12 m6 l3 white">
    <form action="/<%=page%>" method="post" class="container section">
        <div class="input-field col s12">
            <label for="name">Nombre del Producto</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input-field col s12">
            <label for="img">URL de la img</label>
            <input type="text" name="img" id="img">
        </div>
        <div class="input-field col s12">
            <label for="price">Precio del Producto</label>
            <input type="number" id="price" name="price">
        </div>
        <div class="input-field col s12">
            <textarea cols="2" class="materialize-textarea" id="desc" name="desc"></textarea>
            <label for="desc">Descripcion del Producto</label>
        </div>
        <div class="input-field col s12">
            <button type="submit" class="btn ">Subir Producto</button>
        </div>
    </form>
</div>