<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAS3|MODA DE CALIDAD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./css/materialize.css">
    <link rel="stylesheet" href="./css/index.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav>
        <!-- button of sidenav -->
        <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only">
            <img src="./assets/imgs/icons/bx-menu.svg" width="40px" height="55px" style="filter: invert(100%);" alt="">
        </a>

        <div class="container">
            <!-- main navbar-->
            <a href="/" class="brand-logo"><img src="./assets/imgs/Logo.jpeg" width="100px" style="margin-top: 8px;" alt=""></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">INICIO</a></li>
                <li><a href="/about">SOBRE NOSOTROS</a></li>
                <li><a href="/business">NEGOCIOS</a></li>
                <li><a href="/readClothe">SOPORTE</a></li>
                <li><a href="/store">TIENDA</a></li>
                <li><a href="/login" class="btn">INICIAR SESION</a></li>
            </ul>
            <!-- side navbar -->
            <ul class="sidenav" id="slide-out">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="./assets/imgs/side-nav/sidenav.jpg" alt="">
                        </div>
                        <br><br>
                        <h2 class="white-text">SAS3</h2>
                    </div>
                </li>
                <li><a href="/">INICIO</a></li>
                <li><a href="/about">SOBRE NOSOTROS</a></li>
                <li><a href="/business">NEGOCIOS</a></li>
                <li><a href="/readClothe">SOPORTE</a></li>
                <li><a href="/store">TIENDA</a></li>
                <li><a href="/login" class="btn waves-effect btn_login">INICIAR SESION</a></li>

            </ul>
        </div>
    </nav>